/* 
To transpile into css run
npm install
npm run tailwind
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* MAIN CSS CONFIGURATION */
@layer base {
  :root {
    --color-primary: 122 1 8;
    --color-primary-darker: 100 0 1;
    --color-primary-lighter: 170 0 17;
    --color-primary-lightest: 245 75 85;
    --color-secondary: 52 52 52;
    --color-secondary-lighter: 127 127 127;
    --color-secondary-darker: 35 35 35;

    --scrollbar-thumb-color: rgb(179, 179, 179);
    --scrollbar-track-color: rgb(241, 241, 241);
    --scrollbar-size: 5px;
  }

  * {
    min-height: 0;
    min-width: 0;
    border-color: transparent;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar{ width: 5px; }
  *::-webkit-scrollbar-track{ background-color: var(--scrollbar-track-color); }
  *::-webkit-scrollbar-thumb{ background-color: var(--scrollbar-thumb-color); }
}


@layer components {
  /* GLOBAL CLASSES */

  .layout {
    @apply flex h-screen bg-secondary-lighter;
  }

  .layout .layout-content {
    @apply flex flex-grow flex-col h-screen;
  }

  .page-title {
    @apply text-white border-b border-white p-2 text-2xl;
  }

  .navlink {
    @apply p-4 border-l-4 flex items-center gap-2 hover:bg-primary/20 w-full;
  }

  .navlink:hover .navlink-dropdown {
    @apply flex;
  }

  .navlink-dropdown {
    @apply absolute top-0 hidden flex-col left-full bg-white text-black text-left text-sm w-[250px] divide-y divide-slate-300 font-light;
  }

  .navlink.active {
    @apply bg-primary-darker border-primary-lighter;
  }

  .header {
    @apply h-8 bg-primary-darker text-white text-sm flex justify-end items-center px-8 font-light;
  }

  .sidebar {
    @apply bg-secondary flex-shrink-0 w-[250px] text-white flex flex-col;
  }

  .table {
    @apply bg-white w-full border-collapse;
  }

  .table thead {
    @apply bg-secondary text-white;
  }

  .table th,
  .table td {
    @apply border text-sm font-normal p-2 whitespace-nowrap;
  }

  .table thead th {
    @apply border-slate-500;
  }

  .table tbody td {
    @apply border-slate-200;
  }

  .pagination {
    @apply border-collapse border border-slate-500 text-slate-500 flex text-xs font-light rounded divide-x divide-slate-500;
  }

  .pagination > * {
    @apply px-1;
  }

  /* LOGIN CLASSES */
  #login {
    @apply flex flex-col flex-grow items-center justify-center;
  }

  #login
  .form-input {
    @apply flex items-center border border-slate-400 rounded-lg overflow-hidden font-light text-sm;
  }

  #login
  .form-input > input {
    @apply outline-none py-2;
  }

  #login
  .btn-login {
    @apply bg-primary-lightest mt-8 w-full text-white rounded-lg py-2 hover:bg-primary-lightest/90;
  }


  /* DASHBOARD CLASSES */
  #dashboard
  .card-statistic {
    @apply h-28 bg-primary rounded-2xl p-4 flex text-white items-center;
  }

  #dashboard
  .card-statistic .card-statistic-body {
    @apply flex flex-grow flex-col h-full;
  }
  
  #dashboard 
  .card-statistic .card-statistic-icon {
    @apply  text-5xl text-white/20;
  }

  #dashboard
  .card {
    @apply bg-white flex flex-col min-h-0;
  }

  #dashboard
  .card .card-header{
    @apply flex-shrink-0 h-8 bg-secondary flex items-center justify-between px-4 text-white text-xs italic font-light;
  }

  #dashboard
  .card .card-body{
    @apply flex-grow overflow-y-auto min-h-0;
  }

  #dashboard
  .card .card-item {
    @apply p-2 border-b border-secondary flex flex-col;
  }

  #dashboard
  .card .card-item > h4 {
    @apply font-semibold text-sm;
  }

  #dashboard
  .card .card-item > h5 {
    @apply text-xs italic font-light;
  }

  #dashboard
  .card .card-footer {
    @apply flex justify-end p-2 border-t border-secondary;
  }

  #transfer-items-show
  .card {
    @apply rounded-lg overflow-hidden bg-white flex flex-col;
  }

  #transfer-items-show
  .card .card-header {
    @apply bg-primary-darker h-8 px-2 flex-shrink-0 text-sm font-light italic flex items-center text-white;
  }

  #transfer-items-show
  .card .card-body {
    @apply p-4 flex-grow;
  }

  #transfer-items-show
  .card .card-footer {
    @apply p-4 border-t border-slate-400;
  }

  #transfer-items-show
  .form-input {
    @apply flex flex-col;
  }

  #transfer-items-show
  .form-input.required label::before {
    @apply text-red-500 text-sm;
    content: '*';
  }

  #transfer-items-show
  .form-input > label {
    @apply text-lg;
  }

  #transfer-items-show
  .form-input > input {
    @apply border border-slate-400 rounded py-1 px-2 text-sm font-light;
  }

  #transfer-items-show
  .btn {
    @apply py-2 px-8 rounded text-sm text-white font-light flex items-center gap-1
  }

}